# Git
.git
.gitignore
.gitattributes
.github

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
.devcontainer/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
Dockerfile
docker-compose.yml
compose.yaml
.dockerignore
docker/

# Project specific
data/
tests/
terraform/
manifests/
scripts/
Makefile
README.md
cloudbuild.yaml

# Testing & Linting
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
*.log
.benchmarks/
